<nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: lightgrey;">
  <a class="navbar-brand" href="/restaurants">Guide de Restaurant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Ajouter un restaurant', new_restaurant_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
